* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --mainColor: #03B97C
}

body {
    background-color: #F7F8F9;
}

.navbar {
    position: fixed;
    z-index: 9999999;
    background: #fff;
    box-shadow: 1px 0px 15px 0px rgba(219, 195, 195, 0.64)
}

header {
    padding: 80px 0 80px;
    margin: 80px 0px 0px;
    background-color: #051A3E;
    color: #fff;
    
}

h1 {
    line-height: 40px;
    font-size: 36px;
    padding: 10px 0px;
}

.hCont {
    width: 60%;
}

.hCont p {
    font-size: 16px;
    line-height: 25px;
}

.hCont span {
    font-size: 15px;
}

header .key a {
    padding: 7px;
    background-color: #fd353f7e;
    border-radius: 5px;
}

.detailsOfCourse {
    padding: 20px 0px 50px;
}

.overview {
    background-color: #fff;
    width: 100%;
    padding: 30px;
    margin-top: 40px;
    border-radius: 5px;
}

.overview i {
    font-size: 15px;
    color: black;
}

.detailsOfCourse .nav-pills .nav-link {
    border-radius: 0.25rem;
}

.detailsOfCourse .nav-link {
    display: block;
    padding: 0.8rem 1.6rem;
    background: #ffffff;
    font-weight: 600;
    font-size: 14px;
    margin-right: 0.8rem;
}

.detailsOfCourse .nav-pills a {
    color: #30384e;
}

.detailsOfCourse .nav-pills .nav-link.active, .show>.nav-pills .nav-link {
    color: #fff;
    background-color: #03b97c;
}

@media screen and (max-width: 575px) {
    .overview {
        background-color: #fff;
        width: 100%;

    }

    .detailsOfCourse .nav-pills {
        justify-content: center !important;
    }

    .hCont {
        width: 100%;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .overview {
        background-color: #fff;
        width: 100%;

    }

   .detailsOfCourse .nav-pills {
        justify-content: center !important;
    }

    .hCont {
        width: 100%;
    }
}





@media screen and (min-width:768px)and (max-width: 991px) {
    .overview {
        background-color: #fff;
        width: 100%;

    }

    .nav-pills {
        justify-content: center !important;
    }

}




.overview .card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    background-color: #fff;
    border: none;
}

.overview .card-header .show {

    border-top: 1px solid rgba(0, 0, 0, .125);
    border-left: 1px solid rgba(0, 0, 0, .125);
    border-right: 1px solid rgba(0, 0, 0, .125);
    border-bottom: none;
    border-radius: 3px;
}

.overview .card-header a {
    font-weight: 600;
    font-size: 15px;
    position: relative;
}

.overview .card-header a::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f067";
    position: absolute;
    right: 10px;
    font-weight: 600;
    font-size: 19px;
}


.overview .accordion {
    border: 2px solid rgba(0, 0, 0, .125);
    border-radius: 3px;
}

.overview .card-body ul {
    padding: 0rem 1.25rem;
}

.overview .card-body a {
    list-style: none;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    padding: 20px 0px;

}

.overview .card-body a::after {
    content: "20:20";
    position: absolute;
    right: 10px;
}





.overview .card-body span {
    background-color: rgba(255, 152, 0, 0.12);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: #fff;
}

.fullBrdr {
    border: 2px solid rgba(255, 152, 0, 0.12)
}


.overview .card-body span i {

    font-size: 10px;
}

.halfBrdr {
    border-right: var(--mainColor) 2px solid;
    border-bottom: var(--mainColor) 2px solid;

}





.courseImg img {
    width: 230px;
    height: 230px;
}

.courseDetails a {
    color: black;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    transition: all .33s;
}

.courseDetails a:hover {
    color: var(--mainColor);
}

.courseDetails span, .courseDetails i {
    font-size: 15px;
}

.instIcon a {
    padding: 10px 10px 5px;
    margin-right: 20px;
    background-color: #E5F8F2;
    border-radius: 5px;
}

.instIcon a i {
    color: var(--mainColor);
    font-size: 20px;
}


@media screen and (max-width: 575px) {
    .courseImg img {
        width: 80%;
        height: 90%;
    }

    .courseDetails h3 {
        margin-top: 10px;
    }
    .reviews::after {
        content: none !important;

    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    .courseImg img {
        width: 80%;
        height: 90%;
    }

    .courseDetails h3 {
        margin-top: 10px;
    }

    .reviews::after {
        content: none !important;

    }
}







@media screen and (min-width:768px)and (max-width: 991px) {
    .courseImg img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .courseImg img {
        width: 100%;
        height: 100%;
    }

    .courseDetails h3 {
        margin-top: 10px;
    }
}







.reviews h3 {
    font-size: 50px;
    font-weight: 700;
}

.reviews::after {
    content: "";
    height: 90%;
    width: 2px;
    color: black;
    background-color: black;
    padding-left: 3px;
}


.progress {
    height: 5px;
    width: 100%;

}

.prog {
    display: flex;
    align-items: center;
}

.prog::after {
    content: "30%";
    margin-left: 10px;
    color: #051A3E;
    color: #4c4f5a;
    font-size: 12px;
    font-weight: 600;
    align-self: center;
    background: #f4f5f7;
    border-radius: 10px;
    width: 46px;
    height: 22px;
    text-align: center;
}


.reviews-reaction span
{
    cursor: pointer;
}

.comments h6 a
{
    text-decoration: none;
    color: #000;
}

form button
{
    background-color: var(--mainColor);
    color: #fff;
    padding: 15px !important;
    margin-top: 15px;
}

.sticky
{
    position: sticky;
    z-index: 99999;
    width: 100%;
    align-self: flex-start;
    right: 30px;
    top:  150px;
}

.crsDtls
{
    
    border-radius: 15px;
    background-color: #fff;
}

.crsDtlsInfo 
{
    padding: 5px 20px;
}

.crsDtlsInfo .p1
{
    font-size: 14px;
}

.crsDtlsInfo .p2
{
    font-size: 30px;
    font-weight: 700;
    color: var(--mainColor);
}

.crsDtlsInfo .fullBrdr
{
    border-radius: 50%;
    background-color: #999;
}

.crsDtlsInfo .fullBrdr
{
    border-radius: 50%;
    background-color: #ddd;
}

.crsDtlsInfo i
{
    font-size: 10px;
    padding: 3px;
}

.crsDtlsInfo .btn i
{
    font-size: 20px;
}

.crsDtlsInfo span
{
    font-size: 15px;
}


.brdDashed
{
    border: 1px dashed var(--mainColor);
    color: var(--mainColor);
    padding: 15px !important;
    font-weight: 700;
}


.green
{
    background-color: var(--mainColor);
    color: white;
    padding: 15px !important;
    font-weight: 700;
}