* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --mainColor: #03B97C
}

 nav
{
    display: block;
    position: static;
    top: 0px;
    left: 0px;
    background: #F4F5F7;
        z-index: 9999999;
        padding: 15px 0px !important;

}


.dropdown-menu {
    border-radius: 8px;
    min-width: 15rem;
    padding: 20px 10px;
}



nav .btn
{
    padding: 0px;
}

nav .hideBtn
{
    background-color: var(--mainColor);
    color: #fff;
}

nav ul li
{
    margin-right: 20px;
    font-weight: 600;


}


.navbar-nav .nav-link {
    display: inline-block;
    font-family: 'Jost', sans-serif;
    font-weight: 500;
    color: #404656 !important;
    transition: color .3s, background .3s;
    font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: #03b97c !important;
}

nav .bt1
{
    color: #404656 !important;
    transition: color .3s, background .3s;
}

nav .bt1:hover
{
    color: #03b97c !important;
}



nav .btns .btn {
    padding: 12px 12px;
    font-weight: 500;
}

.dropdown-item {
    padding: 0px 10px 0px 0px;
    padding-left: 8px;
    font-size: 15px;
}

.dropright .dropdown-toggle::after
{
    display: none;
}

.dropdown-toggle::after
{
    display: none;
}

nav .dropdown-menu .dropdown-toggle , nav .dropdown-menu .dropdown-item
{
    transition: all .5s;
}

nav .dropdown-menu .dropdown-toggle:hover , nav .dropdown-menu .dropdown-item:hover
{
    color: var(--mainColor);
    padding-left: 15px !important;
}



nav .droprightSpan
{
    display: inline-block;
    margin-top: .0em;
    margin-left: .9em;
    content: "";
   height: 6px;
    width: 6px;
    display: inline-block;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: transparent #506377 #506377 transparent;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    transition: border .3s;
}


nav .dropdown-item span, .dropdown-item a {
    font-size: 15px;
    padding-right: 0px;
}


.sideBar {
    width: 350px;
    background: #fff;
    height: 100vh;
    position: fixed;
    z-index: 99999999999999999;
    color: #000;
    left: -350px;
    overflow-y: scroll;

}

.sideBar .card-header {
    background-color: #fff !important;
    border-top: 1px solid #ccc !important;
    border-bottom: 0px;
}

.card-header p {
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .6s;
    cursor: pointer;
}

.card-header .bb {
    height: 6px;
    width: 6px;
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: transparent #506377 #506377 transparent;
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    transition: border .3s;
    transition: all .6s;
}



.sideBar .card-body {
    padding-left: 20px;
    padding-top: 0px;
    border-bottom: 0px
}


.card-body a {
    font-weight: 500;
    text-decoration: none;
    color: black;
}




.sideBar i, .open {
    font-size: 22px;
}

.highLight {
    color: var(--mainColor);
}



.card {

    border: 0px !important;
}

@media screen and (max-width: 767px) {

    nav {
        background-color: #fff !important;
    }

    nav .navbar-toggler {
        display: none !important;

    }

    .hideBtn {
        display: none !important;
        
    }

    .hideI {
        display: block !important;
        cursor: pointer;
    }

}



@media screen and (min-width:768px)and (max-width: 991px) {

    nav {
        background-color: #fff !important;
    }

    nav .navbar-toggler {
        display: none !important;

    }

    .hideBtn {
        display: none !important
    }

    .hideI {
        display: block !important;
        cursor: pointer;
    }
}




@media screen and (min-width:992px)and (max-width: 1199px) {}

/* end nav and sidebar */





/* start header */

header {
    height: auto;
    width: 100%;
    padding: 0px 0px 0px;
    background-color: #F4F5F7;
}

header .hBtn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background: var(--mainColor);
    color: #fff;

}

header h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 60px;
}


header p {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
}


header .numbers {
    width: 100%;
    
    color: var(--mainColor);
}


header .hInp {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0px;

}


header h3 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 0px;
}

header .numbers span
{
    font-weight: 500;
    color: #2a3138;
}


header .hImg {
    padding: 0px 0px 0px 10px;
}


@media screen and (max-width: 767px) {
    header {
        width: 100%;
        padding: 30px 30px;
    }

    header .hBtn {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        margin-top: 0px;

    }

    header h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
    }


    header p {
        font-size: 19px;
        font-weight: 400;
        line-height: 30px;
    }


    header .numbers {
        width: 100%;
        color: var(--mainColor);

    }


    header .hInp {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 0px;

    }


    header h3 {
        font-size: 40px;
        font-weight: 700;
    }

    header .col-md-4 {
        width: 33%;
    }


    header .hImg {
        padding: 10px 10px 10px 0px;
    }



}



@media screen and (min-width:768px)and (max-width: 991px) {
    header {
        height: 100%;
        width: 100%;
        padding: 30px 0px;
    }

    header .hBtn {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

    }

    header h1 {
        font-size: 28px;
        font-weight: 700;
        line-height: 1.2;
    }


    header p {
        font-size: 19px;
        font-weight: 400;
        line-height: 30px;
    }


    header .numbers {
        width: 100%;
        color: var(--mainColor);

    }


    header .hInp {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 0px;

    }


    header h3 {
        font-size: 40px;
        font-weight: 700;
        padding: 10px 10px 10px 0px;
    }


    header .hImg {
        padding: 10px 10px 10px 0px;
    }



}




@media screen and (min-width:992px)and (max-width: 1199px) {
    header {
        height: 100%;
        width: 100%;
        padding: 30px 0px;
    }

    header .hBtn {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

    }

    header h1 {
        font-size: 38px;
        font-weight: 700;
        line-height: 1.2;
    }


    header p {
        font-size: 19px;
        font-weight: 400;
        line-height: 30px;
    }


    header .numbers {
        width: 90%;
        color: var(--mainColor);

    }


    header .hInp {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border: 0px;

    }


    header h3 {
        font-size: 40px;
        font-weight: 700;
        padding: 10px 10px 10px 0px;
    }


    header .hImg {
        padding: 10px 10px 10px 0px;
    }
}



/* eed header */

/* start Info */
.infos {
    transform: translate(0px, -30%);
}


.info {
    padding: 10px 20px 0px 20px;
    border-radius: 10px;
    box-shadow: 1px 0px 15px 0px rgba(219, 195, 195, 0.64);
    background-color: #fff;
    margin-top: 20px;

}


.info i {
    font-size: 25px;

}

.infoIcon {
    border: 1px dashed black;
    width: 40px;
    height: 40px;
    padding: 22px;
    border-radius: 50%;
}





@media screen and (max-width: 767px) {


    .infos {
        transform: translate(0px, -20%);

        padding: 40px 0px;
    }


    .info {
        padding: 20px 5px 15px 20px;
        border-radius: 10px;
        box-shadow: 1px 0px 15px 0px rgba(219, 195, 195, 0.64);
        background-color: #fff;
    }

    .info h4 {
        font-size: 17px;
    }

    .info p {
        font-size: 13px;
    }

    .info i {
        font-size: 20px;

    }

    .infoIcon {
        border: 1px dashed black;
        width: 10px;
        height: 10px;
        padding: 18px;
        border-radius: 50%;
    }
}




@media screen and (min-width:768px)and (max-width: 991px) {


    .infos {
        transform: translate(0px, -20%);
    }


    .info {
        padding: 20px 5px 15px 20px;
        border-radius: 10px;
        box-shadow: 1px 0px 15px 0px rgba(219, 195, 195, 0.64);
        background-color: #fff;
    }

    .info h4 {
        font-size: 17px;
    }

    .info p {
        font-size: 13px;
    }

    .info i {
        font-size: 20px;

    }

    .infoIcon {
        border: 1px dashed black;
        width: 10px;
        height: 10px;
        padding: 18px;
        border-radius: 50%;
    }
}




@media screen and (min-width:992px)and (max-width: 1199px) {


    .infos {
        transform: translate(0px, -20%);
    }


    .info {
        padding: 20px 20px 15px 20px;
        border-radius: 10px;
        box-shadow: 1px 0px 15px 0px rgba(219, 195, 195, 0.64);
        background-color: #fff;
    }

    .info h4 {
        font-size: 20px;
    }

    .info p {
        font-size: 15px;
    }

    .info i {
        font-size: 25px;

    }

    .infoIcon {
        border: 1px dashed black;
        width: 40px;
        height: 40px;
        padding: 22px;
        border-radius: 50%;
    }

}



/* End Info */


/* #start featureds*/

.featured
{
    padding: 25px 40px 10px 40px;
    box-shadow: 1px 0px 15px 0px rgba(219, 195, 195, 0.64);
    border-radius: 4px;
    cursor: pointer;
    transition: all .7s;
    margin-top: 30px;

}

.featureds span
{
    color: var(--mainColor);
}


.featureds h2
{
    font-weight: 700;
}


.featured .featuredIcon
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FFEBFF;
}



.featured .featuredIcon i
{
   font-size: 30px;
    color: var(--mainColor);
}


.featured .featuredCont p
{
    color: #ff9800;
}

.featured:hover
{
    background-color: var(--mainColor);

}

.featured:hover i
{
    color: var(--mainColor);

}


.featured:hover .featuredIcon
{
    background-color: #fff;

}


.featureds a
{
   text-decoration: none;
   color: #000;

}






@media screen and (max-width: 767px) {
    .featureds .fP
    {
        width: 100% !important;
        padding: 0px 20px;
    }
}




@media screen and (min-width:768px)and (max-width: 991px) {

    .featureds .fP
    {
        width: 100% !important;
        padding: 0px 20px;
    }
}




@media screen and (min-width:992px)and (max-width: 1199px) {
    .featureds .fP
    {
        width: 80% !important;
        padding: 0px 20px;
    }
}

/* #end featureds*/

.courses
{
    background-color: #F4F5F7 !important;
}


.courseImg
{
    min-height: 150px;
    max-height: 350px;
    position: relative;

}

.course
{
    background-color: #fff;
    border-radius: 7px;
    position: relative;
    box-shadow: 1px 0px 15px 0px rgba(219, 195, 195, 0.64);

}

.crs_video_ico {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ffffff;
    color: #03b97c;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    right: 25px;
    top: 25px;
    z-index: 9999;
    cursor: pointer;
}

.crs_locked_ico {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background: #ffffff;
    color: #ff9800;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    position: absolute;
    left: 25px;
    top: 25px;
    z-index: 9999;
    cursor: pointer;
}


.coursesIcons
{
    position: absolute;
   width: 100%;
   align-items: center;
   

}




.courseKey a
{
    color: #ec8d01;
    padding: 5px 10px;
    background-color: rgba(255, 152, 0,0.18);
    border-radius: 13px;
}

.courseDetails i
{
    font-size: 14px;
}


.courseDetails p
{
    font-size: 15px;
}

.courseRate img
{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.footList ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.footList ul li {
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-weight: 700;
    font-size: 13px;
    list-style: none;
}

.footList ul li .footListIc {
    width: 28px;
    height: 28px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #ffffff;
    border: 1px solid #eff1f5;
    border-radius: 50%;
    margin-right: 5px;
    font-size: 11px;
}


.courseKey p 
{
    text-align: right;
}


@media screen and (max-width: 575px) {

    .coursesIcons
    {
        position: absolute;
       width: 100%;
    
    }

    .courseDetails p
    {
        font-size: 14px;
    }

    .footList ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    .footList ul li {
        display: flex;
        align-items: center;
        margin-right: 15px;
        font-weight: 700;
        font-size: 15px;
        list-style: none;
    }
    
    .footList ul li .footListIc {
        width: 28px;
        height: 28px;
        align-items: center;
        justify-content: center;
        display: flex;
        background: #ffffff;
        border: 1px solid #eff1f5;
        border-radius: 50%;
        margin-right: 5px;
        font-size: 15px;
    }

}


@media screen and (min-width: 576px) and (max-width: 767px) {

    .coursesIcons
    {
        position: absolute;
       width: 100%;
    left: 20px;
    align-items: center;
    }

    .courseDetails p
    {
        font-size: 14px;
    }

    .footList ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    .footList ul li {
        display: flex;
        align-items: center;
        margin-right: 15px;
        font-weight: 700;
        font-size: 15px;
        list-style: none;
    }
    
    .footList ul li .footListIc {
        width: 28px;
        height: 28px;
        align-items: center;
        justify-content: center;
        display: flex;
        background: #ffffff;
        border: 1px solid #eff1f5;
        border-radius: 50%;
        margin-right: 5px;
        font-size: 15px;
    }

}





@media screen and (min-width:768px)and (max-width: 991px) {
    .coursesIcons
    {
        position: absolute;
       width: 100%;
       align-items: center;
       left:2px;

    
    }

    .courseDetails p
    {
        font-size: 15px;
    }

    .rates span
    {
        font-size: 14px !important;
    }

    .footList ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    .footList ul li {
        display: flex;
        align-items: center;
        margin-right: 15px;
        font-weight: 700;
        font-size: 13px;
        list-style: none;
    }
    
    .footList ul li .footListIc {
        width: 25px;
        height: 25px;
        align-items: center;
        justify-content: center;
        display: flex;
        background: #ffffff;
        border: 1px solid #eff1f5;
        border-radius: 50%;
        margin-right: 5px;
        font-size: 13px;
    }
}




@media screen and (min-width:992px)and (max-width: 1199px){
    .coursesIcons
    {
        position: absolute;
       width: 100%;
       align-items: center;
       right: 5px;

    
    }
    .courseDetails p
    {
        font-size: 14px;
    }

    
    .rates span
    {
        font-size: 13px !important;
    }

    .footList ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    
    .footList ul li {
        display: flex;
        align-items: center;
        margin-right: 10px;
        font-weight: 700;
        font-size: 12px;
        list-style: none;
    }
    
    .footList ul li .footListIc {
        width: 23px;
        height: 23px;
        align-items: center;
        justify-content: center;
        display: flex;
        background: #ffffff;
        border: 1px solid #eff1f5;
        border-radius: 50%;
        margin-right: 5px;
        font-size: 12px;
    }
}


/* ========================================================================================== */






.aboutCont
{
    padding: 50px 20px 50px 50px;
    
}

.aboutCont ul
{
    list-style: none;
}

.about .aboutI
{
    width:25px;
    height:25px;
    padding: 10px;
    border-radius: 50%;
    background-color: #F4F5F7;
}

.aboutI i
{
    color: var(--mainColor);
}

.about .aboutImg
{
    background-image: url(../images/side-2.jpg);
    height: 100vh;
    background-size: cover;
    border-radius: 0 25% 55% 55%;
}

.about button 
{
    background-color: var(--mainColor);
    color: #fff;
    padding: 15px;
}

.about2 .aboutImg
{
    background-image: url(../images/banner-3.jpg);
    height: 100vh;
    background-size: cover;
    border-radius: 0 25% 55% 55%;
}

.about2 .aboutI
{
    width:25px;
    height:25px;
    padding: 25px;
    border-radius: 50%;
    margin-top: 20px;
    background-color: #F4F5F7;
}


.about2 .aboutI i
{
  font-size: 22px;
}


@media screen and (max-width: 575px) {
    
.about .aboutImg
{
    background-image: url(../images/side-2.jpg);
    height: 50vh;
    background-size: cover;
    border-radius: 0 25% 55% 55%;
}


.about2 .aboutImg
{
    background-image: url(../images/banner-3.jpg);
    height: 50vh;
    background-size: cover;
    border-radius: 0 25% 55% 55%;
}
.about2 h4
    {
        font-size: 19px;
    }

    .about2 p
    {
        font-size: 15px;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px){

    .about .aboutImg
    {
        background-image: url(../images/side-2.jpg);
        height: 60vh;
        background-size: cover;
        border-radius: 0 25% 55% 55%;
    }
    
    
    .about2 .aboutImg
    {
        background-image: url(../images/banner-3.jpg);
        height: 60vh;
        background-size: cover;
        border-radius: 0 25% 55% 55%;
    }

    .about2 h4
    {
        font-size: 20px;
    }

    .about2 p
    {
        font-size: 15px;
    }
}




@media screen and (min-width:768px)and (max-width: 991px){
    .about .aboutImg
    {
        background-image: url(../images/side-2.jpg);
        height: 60vh;
        background-size: cover;
        border-radius: 0 25% 55% 55%;
    }
    
    
    .about2 .aboutImg
    {
        background-image: url(../images/banner-3.jpg);
        height: 60vh;
        background-size: cover;
        border-radius: 0 25% 55% 55%;
    }

    .about2 h4
    {
        font-size: 20px;
    }

    .about2 p
    {
        font-size: 15px;
    }
}



@media screen and (min-width:992px)and (max-width: 1199px){
    .about .aboutImg
    {
        
        height: 100vh;
        background-size: cover;
        border-radius: 0 25% 55% 55%;
    }
    
    
    .about2 .aboutImg
    {
        background-image: url(../images/banner-3.jpg);
        height: 100vh;
        background-size: cover;
        border-radius: 0 25% 55% 55%;
    }
}

/* ========================================================================================================================= */

.insts
{
    background-color: #F7F8F9;
    padding: 60px 0px 80px;
    overflow: hidden;
}

.insts span
{
    color: var(--mainColor);
}


.insts h2
{
    font-weight: 700;
}

.inst
{
    background-color: #fff;
    padding-bottom: 20px;
    border-radius: 10px;
}

.inst img
{
   
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.inst button
{
    background-color: var(--mainColor);
    border: none;
}

.inst .field
{
    color: var(--mainColor);
    padding: 5px 10px;
    background-color: rgba(255, 152, 0,0.18);
    border-radius: 13px;
}


.inst .stars i
{
    color: yellow;
  font-size: 10px;
}

.inst .stars span
{
    font-size: 14px;
}

.inst .enrolling i
{
    color: #555;
    font-size: 14px;
}

/* ========================================================================================================================= */

.packages
{
padding: 80px 0px;
} 

.aboutContt
{
    padding: 50px 20px 50px 30px;
}



.packages h2
{
    font-weight: 700;
}

.packages h4
{
    line-height: 26px;
    font-size: 21px;

}

.packages .price
{
    font-weight: 700;
    font-size: 60px;
}


.packages .dollar
{
    font-weight: 700;
    font-size: 25px;
}

.package
{
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 1px 0px 15px 0px rgba(219, 195, 195, 0.64);
    padding: 40px 0px;
}

.packages span
{
    color: var(--mainColor);
   
}

.package .aboutI
{
    width:25px;
    height:25px;
    padding: 10px;
    border-radius: 50%;
    background-color: #ecedf0;
}

.package .notSup
{
    opacity: 0.5;
}

.package .best
{
    background-color: #FF9800;
    width: 30%;
    border-radius: 10px;
}

.package .btnn
{
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 4px solid rgba(3, 185, 124,0.15);
    border-radius: 10px;
    color: var(--mainColor);
    font-weight: 600;
    font-size: 18px;
    transition: all ease 0.4s;
}

.package .btnn:hover
{
    background: #ebeaea;
}

.aboutFont p
{
font-size: 15px;
}

.packages .green
{
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--mainColor);
    border: 4px solid rgba(3, 185, 124,0.15);
    border-radius: 10px !important;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    transition: all ease 0.4s;
}

@media screen and (max-width: 575px) {
    .aboutFont p
{
font-size: 15px;
}

    
    }
    
    @media screen and (min-width: 576px) and (max-width: 767px){
        .aboutFont p
        {
        font-size: 15px;
        }
        
    }
    
    
    
    
    @media screen and (min-width:768px)and (max-width: 991px){
        .aboutFont p
        {
        font-size: 14px;
        }

        .package .btnn
{
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 4px solid rgba(3, 185, 124,0.15);
    border-radius: 10px;
    color: var(--mainColor);
    font-weight: 600;
    font-size: 16px;
    transition: all ease 0.4s;
}
        
    }
    
    
    
    @media screen and (min-width:992px)and (max-width: 1199px){
        .aboutFont p
        {
        font-size: 14px;
        }

        .package .btnn
{
    height: 62px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    border: 4px solid rgba(3, 185, 124,0.15);
    border-radius: 10px;
    color: var(--mainColor);
    font-weight: 600;
    font-size: 17px;
    transition: all ease 0.4s;
}
              
    }
    

/* ==================================================================================== */


.contact
{
    background-color: var(--mainColor);
}

.contact button
{
    background: #ffffff;
    padding: 18px 40px;
    border-radius: 10px;
    color: #333640;
    font-weight: 600;
    box-shadow: 0px 0px 0px 5px rgb(255 255 255 / 20%);
    -webkit-box-shadow: 0px 0px 0px 5px rgb(255 255 255 / 20%);
}

/* ================================================================================== */

.social
{
    background-color: #1D2636;
}

.social a
{
    color: #5E6D88;
}

.social hr
{
    width: 90%;
    margin: 20px auto;
}

/* ==================================================================================== */


footer
{
    background-color: #1D2636;
    overflow: hidden;
    color: #fff;
    display: none;
}

footer h5
{
    font-size: 15px;
    font-weight: bold;
}
footer h5 i
{
    position: absolute;
    right: 15px;
    top: 5px;
    opacity: 0;
}
footer ul li
{
    list-style: none;
   
}

footer ul li a
{
    color: #5e6d88;
    transition: all ease 0.4s;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

footer ul li a:hover
{
    color: #5e6d88;
    text-decoration: none;
}

.hiddenhr
{
    display: none;
}

footer .content
{
transition: all 0.1s;
}

@media screen and (min-width: 767px){

    .smScreen
    {
        display: none;
    }
    .lgScreen
    {
        display: block;
    }
}

@media screen and (max-width: 768px){

    .smScreen
    {
        display: block;
    }
    .lgScreen
    {
        display: none;
    }
}


nav .dropdown-menu .dropdown-toggle:hover, nav .dropdown-menu .dropdown-item:hover
{
background-color: white;
}